<a class="navbar-brand" th:href="@{/}">SockCase</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <div sec:authorize="isAuthenticated()">
                <a class="nav-link active" aria-current="page" th:href="@{/}">User: <span sec:authentication="name"></span> Privileges: <span sec:authentication="principal.authorities"></span></a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/cart}">Cart</a></li></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="registerDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Register</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{~/users/registeruser}">Register A User</a></li>

                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" th:href="@{~/vendors/registervendor}">Register A Vendor</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" th:href="@{~/products/registerproduct}">Register A Vendor</a></li>
            </ul>
        </li>

        <div sec:authorize="isAnonymous()">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="loginDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Login</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{~/users/login}">Login as User</a></li>

                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" th:href="@{~/vendors/vendorlogin}">Login as Vendor</a></li>
                </ul>
            </li>        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{~/users}">Show All Users</a></li>
                    <li><a class="dropdown-item" th:href="@{~/userbyemail}">Show Users By Email</a></li>
                    <li><a class="dropdown-item" th:href="@{~/orders}">Show All Orders</a></li>
                    <li><a class="dropdown-item" th:href="@{~/ordersbyemail}">Show Orders By Email</a></li>

                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" th:href="@{~/vendors}">Show All Vendors</a></li>
                    <li><a class="dropdown-item" th:href="@{~/vendorbyemail}">Get Vendor By Email</a></li>

                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" th:href="@{~/products}">Show All Products</a></li>
                    <li><a class="dropdown-item" th:href="@{~/orders}">Show All Orders</a></li>
<!--                    <li><a class="dropdown-item" th:href="@{~/orders/orderbyid}">Get  Courses</a></li>-->
                </ul>



        </div>
        <div sec:authorize="isAuthenticated()">
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </div>
    </ul>
</div>