<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout https://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Order List</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{~/css/styles.css}" rel="stylesheet" />
    <link th:href="@{~/css/mystyles.css}" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container" th:insert="nav">
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>Orders</h1>
        <table class="table">
            <thead>
            <tr>
                <th class="col-3">User Email</th>
                <th class="col-3">Order Amount</th>
<!--                <th class="col-3">Total Price</th>-->
<!--                <th class="col-3">Total Stock</th>-->
<!--                <th class="col-3">Price</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="o:${orders}" >
                <td class="col-3" th:text="${o.customer.getEmailAddress()}"></td>
                <td class="col-3" th:text="${o.totalPrice}"></td>
<!--                <td class="col-3" th:text="${o.customer.getIm}"></td>-->
<!--                <td class="col-3" th:text="${o.totalQuantity}"></td>-->
<!--                <td class="col-3" th:text="${o.price}"></td>-->
<!--                <td>-->
<!--&lt;!&ndash;                    <a class="h4" th:href="@{'/orders/edit/' + ${o.orderid}}">Edit</a>&ndash;&gt;-->
<!--                    <a class="h4" th:href="@{'/orders/delete/' + ${o.orderid}}">Delete</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{~/js/scripts.js}"></script>
</body>
</html>
