<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Add Product</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{~/css/styles.css}" rel="stylesheet" />
    <link th:href="@{~/css/mystyles.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container" th:insert="nav">
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>Add Product</h1>
        <form action="registerproduct" method="post"  th:object="${product}">
<!--            <form th:action="@{/uploadfile}" method="post" enctype="multipart/form-data">-->

<!--            <label> User Profile Picture</label>-->
<!--            <input class="form-control" th:type="file" name="imagePath" th:field = "*{imagePath}" enctype="multipart/form-data"/>-->
            <label>Product Name</label>
            <input type="text" class="form-control" name="name" th:field="*{name}" />
            <!--      <label style="color:red" th:each="error:${#fields.errors('email')}" th:text="${error}">error</label>-->
            <label>Product Description</label>
            <input type="text" class="form-control" name="description" th:field="*{description}" />
            <!--      <label style="color:red" th:each="error:${#fields.errors('name')}" th:text="${error}">error</label>-->
            <label>Product Total Quantity</label>
            <input type="text" class="form-control" name="totalQuantity" th:field="*{totalQuantity}" />
            <!--      <label style="color:red" th:each="error:${#fields.errors('name')}" th:text="${error}">error</label>-->
            <label>Product Quantity In Stock</label>
            <input type="text" class="form-control" name="quantityInStock" th:field="*{quantityInStock}" />
            <!--      <label style="color:red" th:each="error:${#fields.errors('name')}" th:text="${error}">error</label>-->
            <label>Product Price</label>
            <input type="text" class="form-control" name="price" th:field="*{price}" />
            <label>Product Owner</label>
            <input type="text" class="form-control" name="vendor" th:field="*{vendor}" />

            <!--      <label style="color:red" th:each="error:${#fields.errors('password')}" th:text="${error}">error</label>-->
            <input type="submit" name="Submit" />
        </form>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{~/js/scripts.js}"></script>
</body>
</html>